//- Top area for SEO
div.top #{config.site_title} - #{config.site_desc}

//- Fixed Nav Menu
nav#nav
	ul#navlist
		each val in pages
			li 
				a(href="##{val}" data-id="#{val}" class="#{val}" onClick="_gaq.push(['_trackEvent', 'main+nav', '#{val}']);") #{val}